body {
  margin: 40px auto;
  max-width: 50%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

a {
  font-style: italic;
}

/* Get rid of horizontal scroll on mobile */
html, body {overflow-x: hidden;}
@media screen {
  .row.sqs-row {
      margin-left: 0;
      margin-right: 0;
  }
}

